nod-red/emon-hub-example.json
[{
    "id": "3060075.104f6f8",
    "type": "catch",
    "z": "1c8844bc.81408b",
    "name": "",
    "scope": ["9274a9ea.789d48", "10f3a53d.a5a99b", "57102b88.e5cb14", "ff1841b1.d6697"],
    "x": 558.5,
    "y": 822,
    "wires": [
        ["eaef797b.be5108"]
    ]
}, {
    "id": "eaef797b.be5108",
    "type": "debug",
    "z": "1c8844bc.81408b",
    "name": "emoncms error?",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 730.5,
    "y": 820,
    "wires": []
}, {
    "id": "a77d4a79.237af8",
    "type": "mqtt in",
    "z": "1c8844bc.81408b",
    "name": "power",
    "topic": "emon/emonpi/power1",
    "qos": "2",
    "broker": "7059208a.8fa6e",
    "x": 105,
    "y": 1066,
    "wires": [
        ["33df7009.ca17c"]
    ]
}, {
    "id": "1e9ba999.80ef66",
    "type": "range",
    "z": "1c8844bc.81408b",
    "minin": "0",
    "maxin": "8000",
    "minout": "0",
    "maxout": "64",
    "action": "scale",
    "round": true,
    "name": "",
    "x": 292,
    "y": 1023,
    "wires": [
        ["7c89cde9.b31784"]
    ]
}, {
    "id": "7c89cde9.b31784",
    "type": "rbe",
    "z": "1c8844bc.81408b",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "x": 443.5,
    "y": 1048,
    "wires": [
        ["fa23a9b.0a43858"]
    ]
}, {
    "id": "fa23a9b.0a43858",
    "type": "function",
    "z": "1c8844bc.81408b",
    "name": "make dial",
    "func": "var newMesg = { payload: \"cdial/40/160/130/\" + msg.payload}\nreturn newMesg",
    "outputs": 1,
    "noerr": 0,
    "x": 549.5,
    "y": 1073,
    "wires": [
        ["2bffb245.ec0fbe"]
    ]
}, {
    "id": "2bffb245.ec0fbe",
    "type": "mqtt out",
    "z": "1c8844bc.81408b",
    "name": "pixel",
    "topic": "emon/emonpixel",
    "qos": "",
    "retain": "",
    "broker": "7059208a.8fa6e",
    "x": 778.5,
    "y": 1094,
    "wires": []
}, {
    "id": "33df7009.ca17c",
    "type": "smooth",
    "z": "1c8844bc.81408b",
    "name": "",
    "action": "mean",
    "count": "6",
    "round": "0",
    "x": 126.5,
    "y": 896,
    "wires": [
        ["1e9ba999.80ef66"]
    ]
}, {
    "id": "7059208a.8fa6e",
    "type": "mqtt-broker",
    "z": "",
    "broker": "emon",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "verifyservercert": true,
    "compatmode": true,
    "keepalive": "15",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": ""
}]
