node-red/flow.json
[
  {
    "id": "cc94a713.7bd6a8",
    "type": "tab",
    "label": "emonPixel"
  },
  {
    "id": "950bdd51.2120b",
    "type": "mqtt in",
    "z": "cc94a713.7bd6a8",
    "name": "Power Feed (MQTT)",
    "topic": "emon\/emonpi\/power1",
    "qos": "2",
    "broker": "396670b0.0ef31",
    "x": 115.25,
    "y": 485.25000762939,
    "wires": [
      [
        "24593ac6.3fc506",
        "c03bebf4.2fde48"
      ]
    ]
  },
  {
    "id": "24593ac6.3fc506",
    "type": "range",
    "z": "cc94a713.7bd6a8",
    "minin": "0",
    "maxin": "8000",
    "minout": "0",
    "maxout": "64",
    "action": "scale",
    "round": true,
    "name": "",
    "x": 391,
    "y": 485,
    "wires": [
      [
        "252762e5.b6c99e"
      ]
    ]
  },
  {
    "id": "252762e5.b6c99e",
    "type": "rbe",
    "z": "cc94a713.7bd6a8",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "x": 570.5,
    "y": 486,
    "wires": [
      [
        "e5d4fab6.9c8d88"
      ]
    ]
  },
  {
    "id": "b3be8d2c.057d",
    "type": "mqtt out",
    "z": "cc94a713.7bd6a8",
    "name": "pixel MQTT",
    "topic": "emonpixel",
    "qos": "",
    "retain": "",
    "broker": "396670b0.0ef31",
    "x": 1254.7500190735,
    "y": 527.75000762939,
    "wires": [
      
    ]
  },
  {
    "id": "e5d4fab6.9c8d88",
    "type": "emonpixel-clockwise",
    "z": "cc94a713.7bd6a8",
    "name": "White Dial",
    "red": "40",
    "green": "160",
    "blue": "130",
    "x": 767.25001525879,
    "y": 481.00000762939,
    "wires": [
      [
        "b3be8d2c.057d"
      ]
    ]
  },
  {
    "id": "553e4750.600018",
    "type": "emonpixel-background",
    "z": "cc94a713.7bd6a8",
    "name": "",
    "x": 1087.7500152588,
    "y": 670.50000953674,
    "wires": [
      [
        "b3be8d2c.057d"
      ]
    ]
  },
  {
    "id": "d2a71ec9.005de",
    "type": "rbe",
    "z": "cc94a713.7bd6a8",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "x": 629.5,
    "y": 602,
    "wires": [
      [
        "5ec76811.7c5138"
      ]
    ]
  },
  {
    "id": "a2c09148.65987",
    "type": "mqtt in",
    "z": "cc94a713.7bd6a8",
    "name": "Import \/ Export Feed (MQTT)",
    "topic": "emon\/emonpi\/power2",
    "qos": "2",
    "broker": "396670b0.0ef31",
    "x": 131.50000762939,
    "y": 621.25000953674,
    "wires": [
      [
        "2f988d87.11e412",
        "c03bebf4.2fde48"
      ]
    ]
  },
  {
    "id": "21f36ad3.44b106",
    "type": "rbe",
    "z": "cc94a713.7bd6a8",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "x": 609,
    "y": 790,
    "wires": [
      [
        "48cad3de.cf53ac"
      ]
    ]
  },
  {
    "id": "2f988d87.11e412",
    "type": "switch",
    "z": "cc94a713.7bd6a8",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "gte",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "outputs": 2,
    "x": 264.5,
    "y": 719,
    "wires": [
      [
        "6a6aa83c.9a1488"
      ],
      [
        "fed6c02.cef524"
      ]
    ]
  },
  {
    "id": "fed6c02.cef524",
    "type": "range",
    "z": "cc94a713.7bd6a8",
    "minin": "0",
    "maxin": "8000",
    "minout": "0",
    "maxout": "255",
    "action": "scale",
    "round": false,
    "name": "Import (positive)",
    "x": 426.5,
    "y": 790,
    "wires": [
      [
        "21f36ad3.44b106"
      ]
    ]
  },
  {
    "id": "6a6aa83c.9a1488",
    "type": "range",
    "z": "cc94a713.7bd6a8",
    "minin": "-1",
    "maxin": "-4000",
    "minout": "0",
    "maxout": "255",
    "action": "scale",
    "round": false,
    "name": "export Range (negative)",
    "x": 448.5,
    "y": 606,
    "wires": [
      [
        "d2a71ec9.005de"
      ]
    ]
  },
  {
    "id": "5ec76811.7c5138",
    "type": "function",
    "z": "cc94a713.7bd6a8",
    "name": "Green Background RGB CSV",
    "func": "var newMesg = { payload: \"0,\" + msg.payload + \",0\"}\nreturn newMesg;",
    "outputs": 1,
    "noerr": 0,
    "x": 850.5,
    "y": 605,
    "wires": [
      [
        "553e4750.600018"
      ]
    ]
  },
  {
    "id": "48cad3de.cf53ac",
    "type": "function",
    "z": "cc94a713.7bd6a8",
    "name": "Red Background RBG CSV",
    "func": "var newMesg = { payload:  msg.payload + \",0,0\"}\nreturn newMesg;",
    "outputs": 1,
    "noerr": 0,
    "x": 833,
    "y": 796,
    "wires": [
      [
        "553e4750.600018"
      ]
    ]
  },
  {
    "id": "d0537219.d1939",
    "type": "inject",
    "z": "cc94a713.7bd6a8",
    "name": "",
    "topic": "",
    "payload": "1,2,3",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 172.5,
    "y": 103,
    "wires": [
      [
        "a6797cea.8ab9d"
      ]
    ]
  },
  {
    "id": "808d27da.431db8",
    "type": "inject",
    "z": "cc94a713.7bd6a8",
    "name": "",
    "topic": "",
    "payload": "15",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 172.5,
    "y": 179,
    "wires": [
      [
        "8c012878.8732f8",
        "6b81e414.eeb2fc"
      ]
    ]
  },
  {
    "id": "5f24faa4.7bb6e4",
    "type": "inject",
    "z": "cc94a713.7bd6a8",
    "name": "",
    "topic": "",
    "payload": "10,11,12,15",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 260,
    "wires": [
      [
        "8c012878.8732f8",
        "6b81e414.eeb2fc"
      ]
    ]
  },
  {
    "id": "a6797cea.8ab9d",
    "type": "emonpixel-background",
    "z": "cc94a713.7bd6a8",
    "name": "",
    "x": 445.5,
    "y": 112,
    "wires": [
      [
        "e12f6209.fdd1c",
        "b3be8d2c.057d"
      ]
    ]
  },
  {
    "id": "8c012878.8732f8",
    "type": "emonpixel-clockwise",
    "z": "cc94a713.7bd6a8",
    "name": "",
    "red": "255",
    "green": "0",
    "blue": "0",
    "x": 440.5,
    "y": 182,
    "wires": [
      [
        "e12f6209.fdd1c",
        "b3be8d2c.057d"
      ]
    ]
  },
  {
    "id": "6b81e414.eeb2fc",
    "type": "emonpixel-anticlockwise",
    "z": "cc94a713.7bd6a8",
    "name": "",
    "red": "0",
    "green": "255",
    "blue": "0",
    "x": 458.5,
    "y": 259,
    "wires": [
      [
        "e12f6209.fdd1c",
        "b3be8d2c.057d"
      ]
    ]
  },
  {
    "id": "e12f6209.fdd1c",
    "type": "debug",
    "z": "cc94a713.7bd6a8",
    "name": "",
    "active": true,
    "console": "true",
    "complete": "payload",
    "x": 719.5,
    "y": 192,
    "wires": [
      
    ]
  },
  {
    "id": "c03bebf4.2fde48",
    "type": "debug",
    "z": "cc94a713.7bd6a8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 299.375,
    "y": 398.125,
    "wires": [
      
    ]
  },
  {
    "id": "396670b0.0ef31",
    "type": "mqtt-broker",
    "z": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "verifyservercert": true,
    "compatmode": true,
    "keepalive": "15",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": ""
  }
]